<form [formGroup]="authForm" (ngSubmit)="authForm.valid && onSubmit()" class="auth-form">
	<h2 class="form-heading">Login Form</h2>

	<app-form-input
		[control]="$any(authForm).controls['username']"
		[label]="'Username'"
		[placeholder]="'Enter a username'"
		[isTextArea]="false"
		[requiredErrorMessage]="'Username is required'"
	></app-form-input>

	<app-form-input
		[control]="$any(authForm).controls['password']"
		[label]="'Password'"
		[placeholder]="'Enter a password'"
		[isTextArea]="false"
		[type]="'password'"
		[requiredErrorMessage]="'Password is required'"
		[patternErrorMessage]="
			'Password must contain at least one digit, one uppercase and one lowercase letter'
		"
	></app-form-input>

	<button type="submit" class="btn-submit">Submit</button>
</form>
